{% extends 'base.html' %}

{% load static %}



{% block title %} World Population {% endblock %}


{% block content %}

  <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
    <h1 class="h2">World Population by Year</h1>
    <div class="btn-toolbar mb-2 mb-md-0">
      <div class="btn-group me-2">
        <button type="button" class="btn btn-sm btn-outline-secondary">Share</button>
        <button type="button" class="btn btn-sm btn-outline-secondary">Export</button>
      </div>
    </div>
  </div>

  <canvas class="my-4 w-100" id="myChart" width="900" height="380"></canvas>

  <h2>World Population by Country</h2>
  <div class="table-responsive">
    <table class="table table-striped table-bordered table-sm" id="example">
      <thead>
        <tr>
          <th scope="col">Country</th>
          <th scope="col">Population</th>
          <th scope="col">Yearly Change</th>
          <th scope="col">Net Change</th>
          <th scope="col">Density</th>
          <th scope="col">Land Area</th>
          <th scope="col">Migrants</th>
          <th scope="col">Fert.rate</th>
          <th scope="col">Med.Age</th>
          <th scope="col">Urban Pop</th>
          <th scope="col">World share</th>
        </tr>
      </thead>
      <tbody>
        {% for item in data %}
            <tr>
                <td>{{item.country}}</td>
                <td>{{item.population}}</td>
                <td>{{item.yearly_change}}</td>
                <td>{{item.net_change}}</td>
                <td>{{item.density}}</td>
                <td>{{item.land_area}}</td>
                <td>{{item.migrants}}</td>
                <td>{{item.fert_rate}}</td>
                <td>{{item.med_age}}</td>
                <td>{{item.urban_pop}}</td>
                <td>{{item.world_share}}</td>
            </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>

  <script src="https://cdn.jsdelivr.net/npm/chart.js@2.7.3/dist/Chart.min.js"></script>

<script>

var xValues = {{ labels|safe }};
var yValues = {{ values|safe }};


  /* globals Chart:false, feather:false */
(() => {
  'use strict'


    // Graphs
    const ctx = document.getElementById('myChart')
    // eslint-disable-next-line no-unused-vars
    const myChart = new Chart(ctx, {
      type: 'line',
      data: {
        labels: xValues,
        datasets: [{
          data: yValues,
          lineTension: 0,
          backgroundColor: 'transparent',
          borderColor: '#007bff',
          borderWidth: 4,
          pointBackgroundColor: '#007bff'
        }]
      },
      options: {
        scales: {
          yAxes: [{
            ticks: {
              beginAtZero: false
            }
          }]
        },
        legend: {
          display: false
        }
      }
    })
  })()
  
</script>
{% endblock %}